
@import url("styles.css");
@import url("carrinhoStyles.css");




/*------------------------------------------------------------------------------------------------------------------*/
                                                    /*  Informação Compra */

.devcom-confirmation-message{
    font-size: 16px;
    font-weight: 700;
    color: var(--dsc-color-font-primary);
    text-align: center;
}


@media (min-width: 576px){


    .devcom-confirmation-message{
        font-size: 24px;
        text-align: left;
    }
    

}